<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container-fluid">
        {{>header}}
        <div id="bodyRow" class="row">
            <div class="row">
                <br>
            </div>
            <div class="row">
                <h1>THE PRIMER by NCR</h1>
            </div>
            <div class="row">
                <br>
                <br>
            </div>
            <div id="imeg" class="row">
                <div class="col-sm-4">

                    <div id="imgFrame">
                        <img src="1.jpg" alt="img1" width="418px">
                        <h4>How brick-and mortar business can win back customers in 2021</h4>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div id="imgFrame">
                        <img src="2.jpg" alt="img2"  width="419px">
                        <h4>Has restaurant loyalty ever been more important?</h4>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div id="imgFrame">
                        <img src="3.jpg" width="460px" alt="img3">
                        <h4>Is your ATM estate behind the curve</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>