<div class="row">
            <div class="col-sm-1" id="ncrLogo"><b>NCR</b></div>
            
            <div class="col-sm-8">
                <br>
                <b>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">AboutUS</a></li>
                    <li>Who We Serve</li>
                    <li>What We Offer</li>
                </ul>
                </b>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li>Search</li>
                    <li>How to buy</li>
                    <li><b>MyNCR</b></li>
                </ul>
                <button class="btn btn-success">CONTACT US</button>
            </div>
        </div>